{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('Ceres::Template.contactMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_contact") }}">
    <title>{{ trans("Ceres::Template.contact") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {{ component( "Tiervital::Customer.Components.Contact.ContactForm" ) }}

    <div class="page-content container-max contact">
        <contact-form template="#vue-contact-form"></contact-form>
    </div>

{% endblock %}
