{% extends getPartial('page-design') %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}
    {{ component( "Tiervital::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "Ceres::ItemList.Components.ItemListSorting") }}
    {{ component( "Ceres::ItemList.Components.ItemsPerPage") }}
    {{ component( "Ceres::ItemList.Components.Pagination") }}
    {{ component( "Tiervital::ItemList.Components.CategoryItem" ) }}


    {% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}


    {% set categoryKind = category.details[0].shortDescription %}
    {% set itemStart = 1 %}
    {% set itemLimit = 9 %}



<p>{{ category | json_encode }}</p>
<div class="category-bg">
	<img src="/images/gallery/template2016/kategorien/{{categoryKind}}-1.jpg" alt="Hunde">
</div>

    <div class="categoriegrid page-content container-max fromCategory cat-{{category.id}} {{categoryKind}}">
        <div class="row">
            {% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}
                <div class="col-xs-3 hidden-md-down">
                    <div class="sidebar-categories">
                        {{ include('Tiervital::PageDesign.Partials.Header.SideNavigation.twig') }}
                    </div>

                    {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}
                </div>

            {% endif %}

            <div class="col-xs-12 col-lg-{% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}9{% else %}12{% endif %}">
              <div class="catIntro">
                  <h1 class="category-title">{{ category.details[0].name }}</h1>
                  {% if ceresConfig.item.showCategoryDescription %}
                      <div id="category-description-container" class="category-description m-b-1">
                      <h2>{{ category.details[0].description | raw }}</h2>
                      {{ category.details[0].description2 | raw }}</div>
                  {% endif %}
              </div>

              <div class="list-controls">
                  <div class="list-controls-inner">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="list-wrapper">
                                  <item-list-sorting template="#vue-item-list-sorting" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"></item-list-sorting>
                                  <items-per-page
                                      template="#vue-items-per-page"
                                      :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"></items-per-page>
                                  {% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}
                                  {% if overrideSearchFilters | trim is empty %}
                                      <item-filter-list :facet-data="{{ facets | json_encode }}"></item-filter-list>
                                  {% else %}
                                      {{ overrideSearchFilters }}
                                  {% endif %}
                                  {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
                                      <pagination template="#vue-pagination"></pagination>
                                      <noscript>
                                          {% include "Ceres::Category.Item.Partials.Pagination" %}
                                      </noscript>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>

                  {# TAGS #}
                  <item-filter-tag-list></item-filter-tag-list>
              </div>

                <div id="twig-rendered-item-list" class="item-list-frame{% if ceresConfig.item.loadingAnimationType == "blur" %} blur-effect{% endif %}">
                  <div class="categoryOverview row">
                  {% if category.level != 1 %}
                    <ul>
                      {% set childCat = services.category.getChildren(category.id, lang) %}
                      {% for child in childCat %}
                      <li class=" col-md-4 col-sm-6 col-xs-12">
                      <a href="{{category.details[0].nameUrl}}/{{ child.details[0].nameUrl }}">
                          <p>{{ child.details[0].name }} </p>
                            {% if child.details[0].image2Path is not empty %}
                            <img src="/documents/{{child.details[0].image2Path}}" alt="">
                              {% else %}
                              <img src="/images/gallery/template2016/kat-default.jpg" alt="Kein Bild vorhanden">
                            {% endif %}

                        </a>
                      </li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                    {% if ceresConfig.item.loadingAnimationType != "blur" %}
                        {% include "Ceres::ItemList.Partials.LoadingAnimation" %}
                    {% endif %}

                    <ul class="product-list row grid" v-is-loading-watcher="$store.state.itemList.isLoading">

                        {% for item in itemList and itemStart < itemLimit %}
                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-{% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}4{% else %}3{% endif %}">
                                {% include "Tiervital::Category.Item.Partials.CategoryListItem" with { 'item': item, 'shippingCat': shippingCat, 'items': 9 } %}
                            </li>
                            {% set itemStart = itemStart + 1 %}
                        {% endfor %}
                    </ul>
                </div>

                <div id="vue-rendered-item-list" style="display:none">
                    <item-list template="#vue-item-list" :total-items-data="9" :category-id="{{ category.id }}"></item-list>
                </div>

            </div>
        </div>
        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls row">
                <div class="col-xs-12">
                    <pagination template="#vue-pagination"></pagination>
                    <noscript>
                        {% include "Ceres::Category.Item.Partials.Pagination" %}
                    </noscript>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="category-bg-down">
    	<img alt="hunde" src="/images/gallery/template2016/kategorien/{{categoryKind}}-2.jpg">
    </div>
{% endblock %}

{% block PartialHead %}
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>

    {% if currentPage-1 > 0 %}
        <link rel="prev" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage-1 }) | url_encode }}" />
    {% endif %}

    {% if currentPage+1 <= pageMax %}
        <link rel="next" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage+1 }) | url_encode }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} | {{ trans("Ceres::Template.headerCompanyName") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">
    <meta name="robots" content="{% if currentPage >= config("Ceres.pagination.noIndex") and config("Ceres.pagination.noIndex") != 0 %}noindex{% else %}{{ metaRobots }}{% endif %}">
{% endblock %}
