{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set overrideHomepageContainer = "" %}
{% for content in container("Ceres::Homepage")if content.plugin != "Plenty" %}
  {% set overrideHomepageContainer = overrideHomepageContainer ~ content.result %}
{% endfor %}
{% if overrideHomepageContainer | trim is empty %}

  {% set lang = services.sessionStorage.getLang() %}

  {% set category1 = services.category.get(config("Ceres.homepage.homepageCategory1"), lang) %}
  {% set category2 = services.category.get(config("Ceres.homepage.homepageCategory2"), lang) %}
  {% set category3 = services.category.get(config("Ceres.homepage.homepageCategory3"), lang) %}
  {% set category4 = services.category.get(config("Ceres.homepage.homepageCategory4"), lang) %}
  {% set category5 = services.category.get(config("Ceres.homepage.homepageCategory5"), lang) %}
  {% set category6 = services.category.get(config("Ceres.homepage.homepageCategory6"), lang) %}

  {% set paginatedCategoryList1 = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {
    'categoryId': category3.id,
    'page': 1,
    'items': 3,
    'sorting': itemSort
  }) %}

  {% set paginatedCategoryList2 = services.itemLoader.loadForTemplate('Tiervital::ItemList.ItemListView', itemLoaderPresets.categoryList, {
    'categoryId': category6.id,
    'page': 1,
    'items': 3,
    'sorting': itemSort
  }) %}

  {% set categoryList1 = paginatedCategoryList1.documents %}
  {% set categoryList2 = paginatedCategoryList2.documents %}

  {{ component( "Tiervital::ItemList.Components.ItemList") }}
  {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
  {{ component( "Ceres::Basket.Components.AddToBasket" ) }}


  <div id="Slider">
    <div class="container-max">
      <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12 neuheiten">
          <div id="headlineNeuheiten"><span class="orange">Unsere</span><span class="schwarz"> BestSeller</span></div> 
          <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% set homepageContainer9 = LayoutContainer.show("Ceres::Homepage.Container9") %}
                  {{ homepageContainer9 }}

          </div>
            <a class="carousel-control-prev" href="#Slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Zurück</span>
            </a>
            <a class="carousel-control-next" href="#Slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Weiter</span>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 spalteRechts">
          <div class="produktHits">
            <h2 class="zweiFarbig">
              <span class="orange">Sonder</span>angebote</h2>
            <p>Unsere besten<br>Schnäppchen auf einen Blick</p>
            <a class="btn btn-orange margin-top-2" href="https://www.tiervitalshop.de/sonderangebote/">Jetzt zugreifen!</a>
          </div>
          <div class="tierpunkt">
            <h2 class="zweiFarbig">
              <span class="orange">Tier-</span>punkt</h2>
            <ul>
              <li>Alles „rund ums Haustier“</li>
              <li>Buchtipp jeden Monat</li>
            </ul>
            <a class="btn btn-orange" target="_blank" href="http://www.tier-punkt.de/">Jetzt stöbern</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-max">
    <div class="row introText">
      {% if introText is not defined %}
        {% set introText = services.category.get(396, lang) %}
      {% endif %}
      {{ introText.details.first.description | raw }}
    </div>
  </div>
  <div id="topProdukte">
  <div class="container-max">
    <div class="row">
      <div class="col-xs-12 col-lg-10">
      {% set homepageContainer6 = LayoutContainer.show("Ceres::Homepage.Container6") %}
          {{ homepageContainer6 }}
        </div>

      {{ LayoutContainer.show("Ceres::Homepage.Container10") }}
    </div>
    </div>
  </div>
</div>
  <div class="container-max">
    <div class="row infoBoxen">
      <div class=" col-lg-4 col-sm-4 col-xs-12">
        <div class="box ratgeber">
          <h2 class="zweiFarbig">Tierarzt<span class="white">Ratgeber</span></h2>
          <p>Interessante Themen<br>rund ums Tier</p>
          <a class="btn btn-orange margin-top-2" href="{{ trans("Tiervital::Template.linkTierarztRatgeber") }}">Jetzt stöbern!</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="box">
          <h2 class="zweiFarbig">
            <span class="orange">Sicher</span>
            bezahlen</h2>
          <p>Ihre Daten werden bei uns
            <br>verschlüsselt übertragen!</p>
          <a class="btn btn-orange" href="{{ trans("Tiervital::Template.linkPayment") }}">info zu Zahlung</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="box">
          <h2 class="zweiFarbig">
            <span class="orange">Beratungs</span>service</h2>
          <p>Unser kompetentes Team unter<br>tierärztlicher Leitung berät
            <br>Sie gerne.</p>
          <a class="btn btn-orange" href="{{ urls.contact }}">zum Formular</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
{{ overrideHomepageContainer | raw }}
{% endif %}
