{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ category.details[0].metaTitle }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">
{% endblock %}

{% block PageBody %}

    {% include category_template( category.id, lang, webstoreConfig.webstoreId ) ignore missing %}

    {% if categoryDesc is not defined %}
      {% set categoryDesc = services.category.get( category.id, lang) %}
    {% endif %}

    <p>{{categoryDesc}}</p>
    <p>{{categoryDesc.parentCategory}}</p>


<div class="container-max">
  <div class="sidebar-categories-content col-xs-3 hidden-md-down">
      {{ include('Tiervital::PageDesign.Partials.Header.SideNavigationContent.twig') }}
  </div>
      {{ categoryDesc.details.first.description | raw }}
      <div class="block-categories-content col-xs-12 col-md-9">
          {{ include('Tiervital::PageDesign.Partials.Header.BlockNavigationContent.twig') }}
      </div>
  </div>

{% endblock %}
