{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set displayedCategories = [] %}

<footer>

  <div class="container-max footer-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
          <h4>{{ trans('Tiervital::Template.footerColumnTitle1') }}</h4>
          <ul class="list-unstyled">
            <li><a href="{{ trans("Tiervital::Template.linkAboutUs") }}">{{ trans('Tiervital::Template.footerAboutUs') }}</a></li>
            <li><a href="{{ urls.contact }}">{{ trans('Ceres::Template.contact') }}</a></li>
            <li><a href="{{ urls.gtc }}">{{ trans('Ceres::Template.checkoutGtc') }}</a></li>
            <li><a href="{{ trans("Tiervital::Template.linkPayment") }}">{{ trans('Tiervital::Template.footerPayment') }}</a></li>
            <li><a href="{{ trans("Ceres::Template.linkShippingCosts") }}">{{ trans('Ceres::Template.itemShippingCosts') }}</a></li>
            <li><a href="{{ urls.privacyPolicy }}">{{ trans('Tiervital::Template.footerPrivacy') }}</a></li>
            <li><a href="{{ urls.cancellationRights }}">{{ trans('Tiervital::Template.footerCancellation') }}</a></li>
            <li><a href="{{ trans("Tiervital::Template.linkBattery") }}">{{ trans('Tiervital::Template.footerBattery') }}</a></li>
            <li><a href="{{ urls.legalDisclosure }}">{{ trans('Ceres::Template.footerLegalDisclosure') }}</a></li>

          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <h4>{{ trans('Tiervital::Template.footerColumnTitle2') }}</h4>
          <ul class="list-unstyled">
            <li><img src="https://www.tiervitalshop.de/images/gallery/template2016/paypal.png" alt="Paypal"></li>
            <li>{{ trans('Tiervital::Template.footerPaymentRechnung') }}</li>
            <li>{{ trans('Tiervital::Template.footerPaymentKredit') }}</li>
            <li>{{ trans('Tiervital::Template.footerPaymentVorkasse') }}*</li>
            <li>{{ trans('Tiervital::Template.footerPaymentLastschrift') }}</li>
          </ul>
          <p><small>{{ trans('Tiervital::Template.footerPaymentSkonto') }}</small></p>
          <h4>{{ trans('Tiervital::Template.footerColumnTitle3') }}</h4>
          <ul class="list-unstyled">
            <li><img src="https://www.tiervitalshop.de/images/gallery/template2016/dhl.png" alt="DHL"></li>
            <li><img src="https://www.tiervitalshop.de/images/gallery/template2016/dpd.png" alt="DPD"></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <h4>{{ trans('Tiervital::Template.footerColumnTitle4') }}</h4>
          {% include "Ceres::Customer.Components.Contact.ContactCard" %}
          </div>
    </div>
  </div>
  <a href="#" title="zum Seitenanfang" class="scrollToTop" style="display: none;"><i class="fa fa-chevron-up"></i></a>
</footer>
