{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Tiervital::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Tiervital::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName = trans("Ceres::Template.headerCompanyName") %}

<header>
    <div>
        <div class="container-max">
            <div class="row">
                {{ LayoutContainer.show("Ceres::Header.LeftSide") }}
                <div id="logo">
                    <a href="{{ homepageURL }}">
                        {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                            <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                        {% else %}
                            <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                        {% endif %}
                    </a>
                </div>

                <ul id="headerLinks" class="controls-list list-inline">
                  <li><a href="{{ trans("Tiervital::Template.linkTierarztRatgeber") }}">
                    <img class="hidden-small" src="https://www.tiervitalshop.de/images/gallery/template2016/buch-green-sm.gif" alt="Buch">
                    <img class="hidden-big" src="https://www.tiervitalshop.de/images/gallery/template2016/buch-weiss-sm.png" alt="Buch">
                    <span class="hidden-small">{{ trans("Tiervital::Template.tierarztRatgeber") }}</span></a></li>

                    <li class="list-inline-item control-user">
                        <user-login-handler>
                            <a data-toggle="modal">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hidden-small">{{ trans("Tiervital::Template.meinShop") }}</span>
                            </a>
                            <span class="pipe hidden-small"></span>
                            <a data-toggle="modal" class="hidden-small">
                                <span{{ trans("Ceres::Template.loginRegister") }}</span>
                            </a>
                        </user-login-handler>
                    </li>
                    <li class="basketMobile">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                            {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                            {% endif %}

                            <i v-waiting-animation="$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-basket" aria-hidden="true"></i>
                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        </a>

                        {% if config("Ceres.basket.preview_type") != "right" %}
                            <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                        {% endif %}
                    </li>
                  </ul>
                  <div id="search-basket">
                    <div id="searchBox">
                        <item-search template="#vue-item-search"></item-search>
                    </div>
                    <div id="basket">
                        <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                            {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                            {% endif %}

                            <i v-waiting-animation="$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-basket" aria-hidden="true"></i>
                            {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                <span class="badge" v-else v-cloak v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                            {% endif %}
                        </a>

                        {% if config("Ceres.basket.preview_type") != "right" %}
                            <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                        {% endif %}
                    </div>
                  </div>
                  <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler hidden-lg-up" type="button">
                       &#9776;
                  </button>
            </div>
        </div>
        {% include "Tiervital::PageDesign.Partials.Header.Navigation" %}
    </div>
</header>


<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Tiervital::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

{% if category.linklist == "Y" %}
    {% set initialCategory = { id: category.id } %}
{% else %}
    {% set initialCategory = category %}
{% endif %}

<mobile-navigation :navigation-tree-data="{{ categories | json_encode }}" :initial-category="{{ initialCategory | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>
